In [4]:
import pandas as pd

In [3]:
df=pd.read_csv("movies_dataset.csv")

C:\Users\PC\AppData\Local\Temp\ipykernel_14040\3446483352.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("movies_dataset.csv")

In [4]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [10]:

df=pd.read_csv("movies_dataset.csv")

#FunciÃ³n para desanidar columnas JSON
def desanidar_columna(df,columna):
    if columna in df.columns:
        desanidado=pd.json_normalize(df[columna].dropna().apply(eval))
        desanidado.columns=[f"{columna}_{subcol}"for subcol in desanidado.columns]
        df=df.drop(columns=[columna]).join(desanidado,how='left')
    return df

#Columnas para desanidar
columnas_anidadas=[
    'belongs_to_collection',
    'production_companies',
    'genres',
    'production_countries',
    'spoken_languages'
]

#Para desanidar cada columna hice un ciclo for
for col in columnas_anidadas:
    df=desanidar_columna(df,col)

#Guardar el DataFrame desanidado en un nuevo archivo Excel
archivo_nuevo='movies_dataset_des.xlsx'
df.to_excel(archivo_nuevo, index=False)

print("Archivo de excel guardado satisfactoriamente", archivo_nuevo)

C:\Users\PC\AppData\Local\Temp\ipykernel_3084\1307737996.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("movies_dataset.csv")

Archivo de excel guardado satisfactoriamente movies_dataset_des.xlsx

In [19]:
df=pd.read_excel("movies_dataset_des.xlsx")

#FunciÃ³n para desanidar columnas JSON
def desanidar_columna(df,columna):
    if columna in df.columns:
        desanidado=pd.json_normalize(df[columna].dropna().apply(eval))
        desanidado.columns=[f"{columna}_{subcol}"for subcol in desanidado.columns]
        df=df.drop(columns=[columna]).join(desanidado,how='left')
    return df

#Columnas para desanidar
columnas_anidadas=[
    'production_companies_0',
    'production_companies_1',
    'production_companies_2',
    'genres_0',
    'genres_1',
    'genres_2',
    'production_countries_0',
    'production_countries_1',
    'production_countries_2',
    'spoken_languages_0',
    'spoken_languages_1'
]

#Para desanidar cada columna hice un ciclo for
for col in columnas_anidadas:
    df=desanidar_columna(df,col)

#Guardar el DataFrame desanidado en un nuevo archivo Excel
archivo_nuevo='movies_dataset_destot.xlsx'
df.to_excel(archivo_nuevo, index=False)

print("Archivo de excel guardado satisfactoriamente", archivo_nuevo)

Archivo de excel guardado satisfactoriamente movies_dataset_destot.xlsx

In [20]:
#Leer el archivo Excel
df=pd.read_excel("movies_dataset_destot.xlsx")

#Mostrar las columnas actuales
print("columnas actuales:")
print(df.columns)

#Especificar las columnas a eliminar
columnas_eliminar=['production_companies_3','production_companies_4','production_companies_5','production_companies_6','production_companies_7','production_companies_8','production_companies_9','production_companies_10','production_companies_11','production_companies_12','production_companies_13','production_companies_14','production_companies_15','production_companies_16','production_companies_17','production_companies_18','production_companies_19','production_companies_20','production_companies_21','production_companies_22','production_companies_23','production_companies_24','production_companies_25','genres_3','genres_4','genres_5','genres_6','genres_7','production_countries_3','production_countries_4','production_countries_5','production_countries_6','production_countries_7','production_countries_8','production_countries_9','production_countries_10','production_countries_11','production_countries_12','production_countries_13','production_countries_14','production_countries_15','production_countries_16','production_countries_17','production_countries_18','production_countries_19','production_countries_20','production_countries_21','production_countries_22','production_countries_23','production_countries_24','spoken_languages_2','spoken_languages_3','spoken_languages_4','spoken_languages_5','spoken_languages_6','spoken_languages_7','spoken_languages_8','spoken_languages_9','spoken_languages_10','spoken_languages_11','spoken_languages_12','spoken_languages_13','spoken_languages_14','spoken_languages_15','spoken_languages_16','spoken_languages_17','spoken_languages_18']

#Eliminar las columnas
df=df.drop(columns=columnas_eliminar)



#Guardar el DataFrame desanidado en un nuevo archivo Excel
archivo_nuevo='movies_dataset_destotal.xlsx'
df.to_excel(archivo_nuevo, index=False)

print("Archivo de excel guardado satisfactoriamente", archivo_nuevo)

columnas actuales:
Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       ...
       'production_countries_0_iso_3166_1', 'production_countries_0_name',
       'production_countries_1_iso_3166_1', 'production_countries_1_name',
       'production_countries_2_iso_3166_1', 'production_countries_2_name',
       'spoken_languages_0_iso_639_1', 'spoken_languages_0_name',
       'spoken_languages_1_iso_639_1', 'spoken_languages_1_name'],
      dtype='object', length=112)
Archivo de excel guardado satisfactoriamente movies_dataset_destotal.xlsx